.login-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #ffffff10;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  color: white;
  box-shadow: 0 5px 15px #00000050;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-card input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-card button {
  padding: 12px;
  background: #2d7cf6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.error {
  background: #ff4c4caa;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
}
